[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
graphene-django = "*"
graphene = ">=2.0"

[dev-packages]
pylint = "*"
gnureadline = "*"
ipython = "*"

[requires]
python_version = "3.7"
